.ImgCarrito-NavBar {
  width: 100%;
}
.btn-carrito{
  margin-top: 20px;
}

#carrito-section {
  text-align: center;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 20px;
}
.btn-Login {
  margin-left: 20px;
}
.Conteo-Carrito {
  color: white;
  font-weight: 600;
  border-radius: 8px;
  position: relative;
  bottom: 70px;
  left: 25px;
  font-size: 28px;
}
.navigation{
  color: #9e9e9e;
  text-decoration: none;
}
.navigation2{
  color: #9e9e9e;
  text-decoration: underline;
  font-weight: 600;
}
.navigation:hover, .navigation2:hover{
  color: #9e9e9e
}
@media screen and (min-device-width: 200px) and (max-device-width: 992px) {
  .btn-Login {
    margin-top: 20px;
  }
}
